<app-navbar />

<main>
  <div class="h-[400px] relative">
    <img
      src="./assets/images/ahtopol-12.jpg"
      class="w-full h-full object-cover"
      alt=""
    />
    <div
      class="bg-linear-to-b from-60% from-white/10 to-white absolute inset-0"
    ></div>
  </div>

  <div
    class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 pb-26 px-4 max-w-screen-xl mx-auto"
  >
    @for (image of galleryImages; track $index) {
      <div class="h-80 overflow-hidden rounded">
        <img
          [src]="'assets/gallery/' + image"
          class="object-cover w-full h-full hover:scale-105 transition-transform duration-300"
          alt="Gallery image"
        />
      </div>
    }
  </div>
</main>

<app-footer />
