<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<div class="m-4 pb-20">
  <div class="dashboard">
    <div class="row">
      <div class="icon-container" [routerLink]="['/admin/rental-holder']">
        <button mat-icon-button class="dashboard-icon" class="dashboard-icon">
          <mat-icon>person_search</mat-icon>
        </button>
        <span class="dashboard-span"> Къмпинг </span>
      </div>
      <div class="icon-container" [routerLink]="['/admin/rental-items']">
        <button mat-icon-button class="dashboard-icon" class="dashboard-icon">
          <mat-icon>apartment</mat-icon>
        </button>
        <span class="dashboard-span"> Бунгала </span>
      </div>
      <div class="icon-container" [routerLink]="['/admin/reservations']">
        <button mat-icon-button class="dashboard-icon">
          <mat-icon>event_available</mat-icon>
        </button>
        <span class="dashboard-span"> Резервации </span>
      </div>
      <div class="icon-container" [routerLink]="['/admin/reservation-list']">
        <button mat-icon-button class="dashboard-icon">
          <mat-icon>list</mat-icon>
        </button>
        <span class="dashboard-span"> Резервации обобщено </span>
      </div>
      <div class="icon-container" [routerLink]="['/reservation']">
        <button mat-icon-button class="dashboard-icon">
          <mat-icon>edit_calendar</mat-icon>
        </button>
        <span class="dashboard-span"> Персонална резервация </span>
      </div>
    </div>
  </div>
</div>

<div class="mt-96 p-2">
  <div class="mt-24">
    <mat-card class="bg-gray-600 mb-6">
      <div *ngIf="!backendBuildInfo && !errorBuildInfo" class="animate-pulse">
        Loading build info...
      </div>
      <div *ngIf="errorBuildInfo">
        <div class="flex items-center text-orange-400 gap-1">
          <mat-icon> error </mat-icon>
          Error loading build info. Please try again later.
        </div>
      </div>
      <div *ngIf="backendBuildInfo">
        BackEnd
        <mat-card-content>
          <div class="flex flex-col xl:flex-row gap-4 justify-between">
            <div>
              <div class="text-gray-400">Version:</div>
              {{ backendBuildInfo.version }}
            </div>
            <div>
              <div class="text-gray-400">Time:</div>
              {{ backendBuildInfo.time | date: "medium" }}
            </div>
            <div>
              <div class="text-gray-400">Commit ID:</div>
              {{ backendBuildInfo.gitCommitId }}
            </div>
            <div>
              <div class="text-gray-400">Commit Time:</div>
              {{ backendBuildInfo.gitCommitTime | date: "medium" }}
            </div>
          </div>
        </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="bg-gray-600 mb-6">
      <div *ngIf="!frontendBuildInfo && !errorBuildInfo" class="animate-pulse">
        Loading build info...
      </div>
      <div *ngIf="errorBuildInfo">
        <div class="flex items-center text-orange-400 gap-1">
          <mat-icon> error </mat-icon>
          Error loading build info. Please try again later.
        </div>
      </div>
      <div *ngIf="frontendBuildInfo">
        FrontEnd
        <mat-card-content>
          <div class="flex flex-col xl:flex-row gap-4 justify-between">
            <div>
              <div class="text-gray-400">Version:</div>
              {{ frontendBuildInfo.version }}
            </div>
            <div>
              <div class="text-gray-400">Time:</div>
              {{ frontendBuildInfo.timestamp | date: "medium" }}
            </div>
          </div>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
