<form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <app-logo heading="Restore Your Password"></app-logo>
    <div *ngIf="!submitted">
      <mat-card-content>
        <mat-form-field class="w-full">
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            type="email"
          />
          <mat-error
            *ngIf="resetPasswordForm.controls['email'].hasError('required')"
          >
            Email is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="resetPasswordForm.controls['email'].hasError('email')"
          >
            You must include a valid email address
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <div class="flex flex-col items-center">
          <button
            class="w-1/2"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="resetPasswordForm.invalid"
          >
            Restore password
          </button>
        </div>
      </mat-card-actions>
    </div>
    <div *ngIf="submitted">
      <mat-card-content>
        <p class="text-center pb-4">
          {{ "forgottenPasswordMessage" | translate }}
        </p>
      </mat-card-content>
    </div>
    <mat-card-footer class="text-center pb-6">
      <a routerLink="/auth/signin" class="mat-caption">Go to login page</a>
    </mat-card-footer>
  </mat-card>
</form>
