<app-navbar />

<main>
  <div class="h-[500px] relative">
    <img
      src="./assets/images/start-page.png"
      class="w-full h-full object-cover"
      alt=""
    />
    <div
      class="bg-linear-to-b from-60% from-white/10 to-white absolute inset-0"
    ></div>
  </div>

  <div class="mx-auto pb-26 max-w-5xl px-4">
    <h1 class="text-5xl/14 md:text-6xl/18 mb-16 text-gray-800">
      🎉
      <span class="font-bold text-blue-500"
        >Забавления <br />и активности в района 🚴
      </span>
    </h1>

    <p class="text-2xl mb-12 text-gray-800">
      Ахтопол и околностите предлагат богато разнообразие от възможности за
      развлечения и приключения както за малки, така и за големи. Насладете се
      на комбинацията от морски чар, културно наследство и природни чудеса.
    </p>

    <div class="grid grid-cols-1">
      <ul class="list-disc space-y-4 pl-5">
        <li>
          🚤 Разходки с лодка до устието на река Велека или по крайбрежието
        </li>
        <li>🐚 Гмуркане и подводен риболов за ентусиасти</li>
        <li>🚴‍♀️ Веломаршрути и разходки сред природата на Странджа</li>
        <li>🌅 Гледки към изгреви и залези от морския бряг</li>
        <li>🎨 Посещение на местни арт фестивали и базари</li>
        <li>
          🏛️ Разглеждане на стария Ахтопол с неговата история и архитектура
        </li>
        <li>🍽️ Морски ресторанти с прясна риба и местни специалитети</li>
      </ul>
    </div>
  </div>
</main>

<app-footer />
