<app-navbar></app-navbar>

<main
  class="relative flex items-center justify-center"
  style="
    min-height: 100vh;
    background-image: url(&quot;./assets/images/start-page1.jpg&quot;);
    background-size: cover;
    background-position: center;
  "
>
  <span class="absolute inset-0 bg-black opacity-40"></span>

  <div class="container relative z-10 text-center px-4">
    <div class="mt-12 text-left">
      <h2 class="text-2xl text-white/90 font-semibold mb-4">
        🎉 Забавления и активности в района
      </h2>
      <p class="text-white/90 leading-relaxed mb-4">
        Ахтопол и околностите предлагат богато разнообразие от възможности за
        развлечения и приключения както за малки, така и за големи. Насладете се
        на комбинацията от морски чар, културно наследство и природни чудеса.
      </p>
      <ul class="list-disc list-inside space-y-2 text-white/90">
        <li>
          🚤 Разходки с лодка до устието на река Велека или по крайбрежието
        </li>
        <li>🐚 Гмуркане и подводен риболов за ентусиасти</li>
        <li>🚴‍♀️ Веломаршрути и разходки сред природата на Странджа</li>
        <li>🌅 Гледки към изгреви и залези от морския бряг</li>
        <li>🎨 Посещение на местни арт фестивали и базари</li>
        <li>
          🏛️ Разглеждане на стария Ахтопол с неговата история и архитектура
        </li>
        <li>🍽️ Морски ресторанти с прясна риба и местни специалитети</li>
      </ul>
    </div>
  </div>
</main>
