<app-navbar></app-navbar>
<main
    class="relative flex items-center justify-center"
    style='min-height: 100vh; background-image: url("./assets/images/start-page1.jpg"); background-size: cover; background-position: center;'>
    <span
        class="absolute inset-0 bg-black opacity-40"
    ></span>

    <div class="container relative mx-auto z-10">
        <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                <div class="pr-12">
                    <h1 class="text-white font-semibold text-5xl">
                        Начало
                    </h1>
                    <p class="mt-4 text-lg text-gray-300">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
