<app-navbar></app-navbar>
<main
  class="relative flex items-center justify-center"
  style="
    min-height: 100vh;
    background-image: url(&quot;./assets/images/start-page1.jpg&quot;);
    background-size: cover;
    background-position: center;
  "
>
  <span class="absolute inset-0 bg-black opacity-40"></span>

  <div class="container relative mx-auto z-10">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
        <div class="pr-12">
          <h1 class="text-white font-semibold text-5xl">
            🌲🏡🌲 Бунгала "Раят" – Вашето спокойно убежище до морето
          </h1>
          <p class="text-lg sm:text-xl text-white/90 leading-relaxed">
            Разположен в живописната местност край Ахтопол,
            <strong>Бунгала „Раят“</strong> предлага уникално съчетание от
            комфорт, природа и спокойствие. Насред зеленина и само на няколко
            крачки от морския бряг, комплексът разполага с уютни бунгала –
            идеални за семейства, двойки или приятели.
          </p>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-left">
            <div>
              <h2 class="text-2xl text-white/90 font-semibold mb-2">
                🛖 Удобства в бунгалата
              </h2>
              <ul class="list-disc list-inside space-y-1 text-white/90">
                <li>Самостоятелни помещения със спални и допълнителни легла</li>
                <li>Санитарен възел и баня</li>
                <li>Климатик и хладилник</li>
                <li>Безплатен Wi-Fi и паркинг</li>
                <li>Градина с барбекю и места за отдих</li>
                <li>Паркинг за гости</li>
              </ul>
            </div>
            <div>
              <h2 class="text-2xl text-white/90 font-semibold mb-2">
                📍 Идеално местоположение
              </h2>
              <p class="text-white/90 leading-relaxed">
                🏖️ Къмпингът е само на няколко минути пеша от златистия плаж и
                предлага директен достъп до морето. Тишината, чистият въздух и
                близостта до природата създават идеални условия за пълноценна
                почивка.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
