<div class="calendar-container">
  <mat-card class="calendar-card">
    <h3 class="month-title">Юни</h3>
    <mat-calendar 
      #juneCalendar
      [dateClass]="dateClass"
      [dateFilter]="dateFilter"
      [startAt]="juneStart">
    </mat-calendar>
  </mat-card>

  <mat-card class="calendar-card">
    <h3 class="month-title">Юли</h3>
    <mat-calendar 
      #julyCalendar
      [dateClass]="dateClass"
      [dateFilter]="dateFilter"
      [startAt]="julyStart">
    </mat-calendar>
  </mat-card>

  <mat-card class="calendar-card">
    <h3 class="month-title">Август</h3>
    <mat-calendar 
      #augustCalendar
      [dateClass]="dateClass"
      [dateFilter]="dateFilter"
      [startAt]="augustStart">
    </mat-calendar>
  </mat-card>

  <mat-card class="calendar-card">
    <h3 class="month-title">Септември</h3>
    <mat-calendar 
      #septemberCalendar
      [dateClass]="dateClass"
      [dateFilter]="dateFilter"
      [startAt]="septemberStart">
    </mat-calendar>
  </mat-card>
</div>
