<app-navbar />

<main>
  <div class="h-[500px] relative">
    <img
      src="./assets/images/photo-1592417817038-d13fd7342605.avif"
      class="w-full h-full object-cover"
      alt=""
    />
    <div
      class="bg-linear-to-b from-60% from-white/10 to-white absolute inset-0"
    ></div>
  </div>

  <div class="mx-auto pb-26 max-w-5xl px-4">
    <h1 class="text-5xl/14 md:text-6xl/18 mb-16 text-gray-800">
      🍽️
      <span class="font-bold text-blue-500"
        >Хранене и кулинарни изкушения в района
      </span>
    </h1>

    <p class="text-2xl mb-12 text-gray-800">
      Южното Черноморие и по-специално Ахтопол предлагат богато кулинарно
      разнообразие – от традиционна българска кухня до средиземноморски и морски
      специалитети. Независимо дали търсите уютна таверна край плажа или изискан
      ресторант с изглед към морето, ще откриете вкус и атмосфера, които ще ви
      пленят.
    </p>

    <div class="grid grid-cols-1">
      <ul class="list-disc space-y-4 pl-5">
        <li>
          🐟 Прясно уловена риба и морски дарове, приготвени по местни рецепти
        </li>
        <li>🥘 Домашно приготвени ястия в крайморски механи</li>
        <li>🍕 Пицарии и заведения с интернационално меню</li>
        <li>🍷 Винарни и барове с български вина и мезета</li>
        <li>☕ Кафенета и сладкарници с морска гледка</li>
        <li>🌿 Вегетариански и здравословни опции в модерни бистрота</li>
        <li>🛍️ Малки пазари с домашни продукти и подправки</li>
      </ul>
    </div>
  </div>
</main>

<app-footer />
