@if (!isConfirmed) {

<div>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="form">
<mat-form-field appearance="outline" class="w-full">
  <mat-label>Цена</mat-label>
  <input matInput formControlName="price" type="number" />
</mat-form-field>


<mat-form-field appearance="outline" class="w-full readonly-field">
  <mat-label>Начална дата</mat-label>
  <input matInput [value]="getFormattedDate(form.get('fromDate')?.value)" readonly />
</mat-form-field>


<mat-form-field appearance="outline" class="w-full readonly-field">
      <mat-label>Крайна дата</mat-label>
      <input
        matInput
        [value]="getFormattedDate(form.get('toDate')?.value)"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Име</mat-label>
      <input matInput formControlName="fullName" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Телефон на връзка</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>

      <mat-form-field appearance="outline" class="w-4/5">
        <mat-label>Валиден email адрес</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
  mat-raised-button
  color="primary"
  (click)="onSubmit()"
>
  Резервирай
</button>
</mat-dialog-actions>
</div>
}

@if (isConfirmed) {
  <div class="p-4 text-center">
    <h2 class="text-xl font-semibold mb-2 text-green-600">Успешна резервация!</h2>

    <div class="mt-4">
      <button mat-flat-button color="primary" (click)="onCancel()">Затвори</button>
    </div>
  </div>
}
